.form {
    flex-direction: column;
}

.form-container {
    margin-left: 5%;
    font-family: 'Livvic', sans-serif;
    margin-top: 15vh;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #3400A1;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3400A1;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field {
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 28px;
    background-color: #FDF2E5;
}



.image-preview {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 28px;
}

.guardar-button {
    width: 700px;
    height: 55px;
    margin-left: 20%;
    margin-top: 1rem;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFAE4F;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}

.popup p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #3400A1;
}

.popup button {
    background-color: #FDF2E5;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #3400A1;
}

.popup .button-container {
    display: flex;
    justify-content: center;
}