/* Estilo base del interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 50%;
    background-color: white;
    border-radius: 34px;
    padding: 0px;
    cursor: pointer;
  }
  
  /* Estilo del interruptor deslizable */
  .slider {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 34px;
    transition: 0.2s;
  }
  
  /* Estilo del texto "ADMIN" y "CLIENT" */
  .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
  }
  
  /* Estilo del interruptor cuando está en la posición "ADMIN" */
  .switch.admin .slider {
    left: 0;
    background-color: #FFAE4F;
  }
  
  .switch.admin .label {
    left: 0;
  }
  
  /* Estilo del interruptor cuando está en la posición "CLIENT" */
  .switch.client .slider {
    left: 50%;
    background-color: #ccc;
  }
  
  .switch.client .label {
    left: 50%;
  }
  
  /* Estilo del círculo deslizable */
  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    display: none;
  }